In [4]:
#Loop:  ==> executing set of program or code for multiple attempts based on count (no of times ) or based on some condition


print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [2]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
#For :

    For with range
    For with Data structure 

#while loop:

    While with condition
    
Continue pass break
For else
While else

In [10]:
#Range (from (including), to (excluding), interval (optional))

print(list(range(10,50)))

print(list(range(10)))

print(list(range(1000,1500,13)))

print(list(range(100,50,-1)))

print(list(range(200, 50, -8)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1000, 1013, 1026, 1039, 1052, 1065, 1078, 1091, 1104, 1117, 1130, 1143, 1156, 1169, 1182, 1195, 1208, 1221, 1234, 1247, 1260, 1273, 1286, 1299, 1312, 1325, 1338, 1351, 1364, 1377, 1390, 1403, 1416, 1429, 1442, 1455, 1468, 1481, 1494]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51]
[200, 192, 184, 176, 168, 160, 152, 144, 136, 128, 120, 112, 104, 96, 88, 80, 72, 64, 56]

## For loop

In [13]:
for i in range(10):
    print(i)
    
#for temp_variable in Data_strcture or collection:
#    #temp_variable

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(10,30,3):
    print(i)

10
13
16
19
22
25
28

In [15]:
sum = 0

for i in range(10):
    sum = sum + i
print(sum)

45

In [16]:
Li1 = ["python", "groovy", "java", "cpp", "c"]

for i in Li1:
    print(i)

python
groovy
java
cpp
c

In [17]:
Li1 = ("python", "groovy", "java", "cpp", "c")

for i in Li1:
    print(i)

python
groovy
java
cpp
c

In [19]:
Li1 = {"python", "groovy", "java", "cpp", "c"}

for i in Li1:
    print(i)

cpp
python
c
java
groovy

In [20]:
Li1 = {1:10, 2:20, 3:30, 4:50}

for i in Li1:
    print(i)

1
2
3
4

In [22]:
Li1 = {1:10, 2:20, 3:30, 4:50}

for i in Li1.keys():
    print(i)

1
2
3
4

In [23]:
Li1 = {1:10, 2:20, 3:30, 4:50}

for i in Li1.values():
    print(i)

10
20
30
50

In [24]:
Li1 = {1:10, 2:20, 3:30, 4:50}

for i in Li1:
    print(i, Li1[i])

1 10
2 20
3 30
4 50

In [26]:
Li1 = {1:10, 2:20, 3:30, 4:50}

for i in Li1.items():
    print(i)
    print(i[0])
    print(i[1])

(1, 10)
1
10
(2, 20)
2
20
(3, 30)
3
30
(4, 50)
4
50