In [ ]:
#Functional programming

#variables and functions 



#Object oriented prograamming

#classes and object
#variables ==> attributes  functions ==> Methods

#Basic python DC/dtypes are implemeneted using OOPS

#Reusability ==> inheritance
#abstract class
#encapsulation

#class ==> attributes and method

#blueprint
#structure

#Form

#Object  ==> instant of the class

#student1 (rrrr, 10, "fgfggf-67676") ===> object1
#student2 (ggggg, 9 , jhgfhgjkjg-78999)  ===> object2
#student3 (iiiiii, 8,  uyth nhjjf-90001)  ===> object3

In [1]:
a = 10
print(type(a))

<class 'int'>

In [2]:
#class and object

#empty class creation

class Student:  #class creation
  pass

student_1 = Student() #student_1 object 

student_2 = Student() #student_2 object

In [5]:
#with attributes abd methods
#class attribute and how to change it

class Student:
  school_name = "kkk int school" #class attribute
  city = "chennai" #class attribute


student_1 = Student()
print(student_1.school_name)


student_2 = Student()
print(student_2.city)

Student.school_name = "jjj int school"
Student.city = "Trichy"

print(student_1.school_name)
print(student_2.city)

kkk int school
chennai
jjj int school
Trichy

In [10]:
#object attribute

class Student:
  school_name = "kkk int school" #class attribute
  city = "chennai" #class attribute

student_1 = Student()
print(student_1.school_name)
print(student_1.city)

student_2 = Student()
print(student_2.school_name)
print(student_2.city)

student_2.school_name = "aaa int school"
student_2.city = "coimbatore"


print(student_1.school_name)
print(student_1.city)


print(student_2.school_name)
print(student_2.city)

kkk int school
chennai
kkk int school
chennai
kkk int school
chennai
aaa int school
coimbatore

In [ ]:
#public
#private
#protected

In [21]:
class Student:
  school_name = "kkk int school" #class attribute
  city = "chennai" #class attribute

  def auditorium(self):
    return "auditorium located near by your class room"

  def addition(self, value1, value2):
    return value1 + value2

  def print_func(self):
    print(self)
    print(self.school_name)
    return "normal print function"

student1 = Student()
print(student1.auditorium())
print(student1.addition(10,20))
#print(student1.print_func())

print(Student.print_func(student1)) 
print(student1.print_func())

auditorium located near by your class room
30
<__main__.Student object at 0x7f85c153c1d0>
kkk int school
normal print function
<__main__.Student object at 0x7f85c153c1d0>
kkk int school
normal print function

In [15]:
def func():
  return "output"

print(func("val"))

TypeError: ignored

In [ ]:
#Constructor (__init__)
#destructor
#inheritance
#class method vs static mehod vs normal method
#overrding
#abstract class abstract method
#encapsulation
#ploymophism