In [1]:
#what is it ?

#List tuple set Dictionary


#Storing multiple values

a = "str"
b = "val"
c = "python"

d = ["str", "val", "python"]

print(d)

['str', 'val', 'python']

In [ ]:
##List tuple set Dictionary Difference


#List:

[]
Ordered/Indexed  datastrucut
Mutable
+ operator supports (concatenatiomn)

#tuple

()
Ordered/Indexed  datastrucut
immutable data structures
+ operator supports (concatenatiomn)

#set

{}
No indexing
No indexing or ordering

#Dictionary
{:}
No indexing or ordering

In [2]:
#heterogenous 

a = [1,2,3,True,"python",10.99]
print(a)

[1, 2, 3, True, 'python', 10.99]

In [5]:
a = []
print(a)
print(type(a))

b = list()
print(b)
print(type(b))

[]
<class 'list'>
[]
<class 'list'>

In [6]:
a = (1,2,3,4)
print(a)
print(type(a))

b = tuple()
print(b)
print(type(b))

(1, 2, 3, 4)
<class 'tuple'>
()
<class 'tuple'>

In [7]:
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [9]:
a = {1:"val1", 2:"val2", 3:"val3"}
print(a)
print(type(a))

{1: 'val1', 2: 'val2', 3: 'val3'}
<class 'dict'>

In [13]:
#how to create empty set and empty dictionary

a = {}

print(a)
print(type(a))

a = set()
a.add(1)
a.add(10)

print(a)
print(type(a))

b = dict()
print(b)
print(type(b))

{}
<class 'dict'>
{1, 10}
<class 'set'>
{}
<class 'dict'>

## List methods

In [20]:
a = []

print(a)
print(type(a))

[]
<class 'list'>

In [22]:
#append
a = []


a.append(10) #adding in to last place of list
print(a)
a.append(20)
print(a)
a.append("hello")
print(a)

print(a)

[10]
[10, 20]
[10, 20, 'hello']
[10, 20, 'hello']

In [24]:
#insert

a = [10,11,12,13,14,15]

a.insert(2,5) #position/index, value
print(a)

[10, 11, 5, 12, 13, 14, 15]

In [27]:
#pop

a = [10,11,12,13,14,15]

a.pop() #remove element in position -1 from list
print(a)
a.pop(2) #remove specific value in index argumemntn
print(a)

[10, 11, 12, 13, 14]
[10, 11, 13, 14]

In [1]:
#remove

a = [10,11,12,13,14,15,14]

a.remove(14)

print(a)

[10, 11, 12, 13, 15, 14]

In [30]:
#concatenation

a = [1,2,3,4]

print(a + [10,14,15])

print(a*5)

[1, 2, 3, 4, 10, 14, 15]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
a = [10,11,12,13,14,15]

print(a[2])
print(a[-1])

a = ["python", "groovy", "hello"]

12
15

In [4]:
#replacement / assignment

Li1 = ["aaa", "bbb", "ccc", "dddd"]

Li1[2] = "python"

print(Li1)

['aaa', 'bbb', 'python', 'dddd']

In [2]:
#string #mutation #https://www.hackerrank.com/challenges/python-mutations/problem

a = "python"

a[2] = "z"

print(a)

TypeError: 'str' object does not support item assignment

In [6]:
#count

Li1 = [1,2,3,4,1,1,1,1,3]

print(Li1.count(1))
print(Li1.count(4))
print(Li1.count(0))

5
1
0

In [7]:
#index

Li1 = [1,2,3,4,-1,-2,-3]

print(Li1.index(4))
print(Li1.index(0))

3

ValueError: 0 is not in list

In [8]:
#extend

Li1 = [1,2,3,4]
Li2 = [-1,-2,-3]

Li1.extend(Li2)
print(Li1)

[1, 2, 3, 4, -1, -2, -3]

In [9]:
#clear

Li1 = [3,4,5,6,7]

Li1.clear()
print(Li1)

[]

In [11]:
#sort

Li1 = [3,4,5,-1,-2,0]
Li1.sort()
print(Li1)

Li1 = [3,4,5,-1,-2,0]
Li1.sort(reverse=True)
print(Li1)

#Sorting techniques
#Tim sort ==> combination of insertions and merge sort

#https://www.geeksforgeeks.org/timsort/

[-2, -1, 0, 3, 4, 5]
[5, 4, 3, 0, -1, -2]

In [12]:
#reverse

Li1 = [4,5,6,3,2,8,0]
Li1.reverse()
print(Li1)

[0, 8, 2, 3, 6, 5, 4]

In [15]:
#min max sum

Li1 = [1,2,3,0,-1,-2]
print(min(Li1))
print(max(Li1))
print(sum(Li1))

-2
3
3

In [16]:
#del

Li1 = [3,4,5,6,7]

del Li1[2:]

print(Li1)

[3, 4]

In [18]:
Li1 = [3,4,5,6]
del Li1

print(Li1)

NameError: name 'Li1' is not defined

In [19]:
Li1 = [3,4,5,6]
del Li1[:] #clear

print(Li1)

[]

In [2]:
#copy

#Shallow copy

Li1 = [2,3,1,5,4,6]
print(id(Li1))

Li2 = Li1
print(id(Li2))

Li2[4] = 100

print(Li1)
print(Li2)
#============================

Li1 = [2,3,1,5,4,6]
print(id(Li1))

Li2 = Li1.copy() #Deep copy
print(id(Li2))

Li2[4] = 100

print(Li1)
print(Li2)

1390331518472
1390331518472
[2, 3, 1, 5, 100, 6]
[2, 3, 1, 5, 100, 6]
1390331517640
1390330599880
[2, 3, 1, 5, 4, 6]
[2, 3, 1, 5, 100, 6]

In [3]:
#nested list

a = [1,2,3,4,5,[101,102,103,105,[201,202,203,204,[304,305,305,"python",["groovy"],[20,21],[31,32],[41,42]]]]]

print(a)
print(type(a))

#305
#202
#41
#oovy
#yth
#32
#42
#20
#4
#105

[1, 2, 3, 4, 5, [101, 102, 103, 105, [201, 202, 203, 204, [304, 305, 305, 'python', ['groovy'], [20, 21], [31, 32], [41, 42]]]]]
<class 'list'>

## Tuple

In [ ]:
#charact

#Immutable Ds
#Indexed or ordered 
#()

In [5]:
#()

#empty tuple


tup = ()
print(tup)
print(type(tup))

tup1 = tuple()
print(tup1)
print(type(tup1))

()
<class 'tuple'>
()
<class 'tuple'>

In [7]:
#Indexed or Ordered

tup = (3,4,5,6,7)

print(tup[2:4])
print(tup[-1])
print(tup[-4])
print(tup[0])

(5, 6)
7
4
3

In [10]:
#immutable

Li1 = [3,4,5,6]
Li1[2] = 100
print(Li1)

tup1 = (3,4,5,6)
tup1[2] = 100
print(tup1)

[3, 4, 100, 6]

TypeError: 'tuple' object does not support item assignment

In [12]:
#Tuple Methods

#index

tup1 = (10,11,12,13)
print(tup1.index(12))
print(tup1.index(0))

2

ValueError: tuple.index(x): x not in tuple

In [13]:
#count

tup1 = (1,2,3,4,4,3,2,1,1,1,1)
print(tup1.count(4))
print(tup1.count(-2))

2
0

In [14]:
#concatenation

tup1 = (1,2,3,5,6)
tup2 = (3,4,2,5,6,7)

tup1 = tup1 + tup2
print(tup1)
tup3 = tup1 + (10,11,12)
print(tup3)

(1, 2, 3, 5, 6, 3, 4, 2, 5, 6, 7)
(1, 2, 3, 5, 6, 3, 4, 2, 5, 6, 7, 10, 11, 12)

In [15]:
print(len(tup3))

#function inbuilt function

#method

14

## Set

In [ ]:
#Chara

#{} and individual elements
#unordered or no indexing
#mutable 
#It doesn't support duplicates
#Does not support + or concatenation

In [17]:
#Empty set

set1 = set()
print(set1)
print(type(set1))

set2 = {}
print(set2)
print(type(set2))

set()
<class 'set'>
{}
<class 'dict'>

In [18]:
set1 = {2,3,4,5}
print(set1[0])
print(set1[-1])

TypeError: 'set' object is not subscriptable

In [19]:
set1 = {1,1,2,3,4,5,6,3,4,4,5}

print(set1)

#set allows only unique values

{1, 2, 3, 4, 5, 6}

In [ ]:
#union
#intersection
#difference
#subset
#symmetric difference
#super set
#Disjoint
#

#https://www.w3schools.com/python/python_ref_set.asp