In [1]:
#what is it ?

#List tuple set Dictionary


#Storing multiple values

a = "str"
b = "val"
c = "python"

d = ["str", "val", "python"]

print(d)

['str', 'val', 'python']

In [ ]:
##List tuple set Dictionary Difference


#List:

[]
Ordered/Indexed  datastrucut

#tuple

()
Ordered/Indexed  datastrucut
immutable data structures

#set

{}
No indexing
No indexing or ordering

#Dictionary
{:}
No indexing or ordering

In [2]:
#heterogenous 

a = [1,2,3,True,"python",10.99]
print(a)

[1, 2, 3, True, 'python', 10.99]

In [5]:
a = []
print(a)
print(type(a))

b = list()
print(b)
print(type(b))

[]
<class 'list'>
[]
<class 'list'>

In [6]:
a = (1,2,3,4)
print(a)
print(type(a))

b = tuple()
print(b)
print(type(b))

(1, 2, 3, 4)
<class 'tuple'>
()
<class 'tuple'>

In [7]:
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [9]:
a = {1:"val1", 2:"val2", 3:"val3"}
print(a)
print(type(a))

{1: 'val1', 2: 'val2', 3: 'val3'}
<class 'dict'>

In [13]:
#how to create empty set and empty dictionary

a = {}

print(a)
print(type(a))

a = set()
a.add(1)
a.add(10)

print(a)
print(type(a))

b = dict()
print(b)
print(type(b))

{}
<class 'dict'>
{1, 10}
<class 'set'>
{}
<class 'dict'>

## List methods

In [20]:
a = []

print(a)
print(type(a))

[]
<class 'list'>

In [22]:
#append
a = []


a.append(10) #adding in to last place of list
print(a)
a.append(20)
print(a)
a.append("hello")
print(a)

print(a)

[10]
[10, 20]
[10, 20, 'hello']
[10, 20, 'hello']

In [24]:
#insert

a = [10,11,12,13,14,15]

a.insert(2,5) #position/index, value
print(a)

[10, 11, 5, 12, 13, 14, 15]

In [27]:
#pop

a = [10,11,12,13,14,15]

a.pop() #remove element in position -1 from list
print(a)
a.pop(2) #remove specific value in index argumemntn
print(a)

[10, 11, 12, 13, 14]
[10, 11, 13, 14]

In [28]:
#remove

a = [10,11,12,13,14,15]

a.remove(14)

print(a)

[10, 11, 12, 13, 15]

In [30]:
#concatenation

a = [1,2,3,4]

print(a + [10,14,15])

print(a*5)

[1, 2, 3, 4, 10, 14, 15]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
a = [10,11,12,13,14,15]

print(a[2])
print(a[-1])

a = ["python", "groovy", "hello"]

12
15

In [ ]:
#replacement